<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
    <h1>{% block pagename %}{% endblock %}</h1>
    <nav>
        <ul>
            <li><a href="/">Něco o mě</a></li>
            <li><a href="/products">Produkty</a></li>
            <li><a href="/order">Objednat</a></li>
        </ul>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>
</html>